In [75]:
import json
import numpy as np
import pandas as pd
from pandas import json_normalize
import matplotlib.pyplot as plt

pd.options.display.max_colwidth=100

In [55]:
with open('docs.json') as f:
    data = json.load(f)
# print(data)

In [58]:
df2 = json_normalize(data['hits']['hits'])

In [60]:
df2.shape

(300, 42)

In [61]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   _index                    300 non-null    object
 1   _type                     300 non-null    object
 2   _id                       300 non-null    object
 3   _score                    300 non-null    int64
 4   _source.mediaitemid       300 non-null    int64
 5   _source.summaryid         300 non-null    object
 6   _source.programid         300 non-null    int64
 7   _source.commentatorid     300 non-null    int64
 8   _source.headline          300 non-null    object
 9   _source.datecreated       300 non-null    object
 10  _source.airdate           300 non-null    object
 11  _source.searchabletext    300 non-null    object
 12  _source.abstract          300 non-null    object
 13  _source.fulltext          158 non-null    object
 14  _source.programname       300 non-null    object
 15  _source.sourcename        300 non-null    object
 16  _source.mediatype         300 non-null    object
 17  _source.commentator       300 non-null    object
 18  _source.articletype       284 non-null    object
 19  _source.sourcesystem      300 non-null    object
 20  _source.state             300 non-null    object
 21  _source.country           300 non-null    object
 22  _source.entityname        186 non-null    object
 23  _source.socialuserid      12 non-null     float64
 24  _source.twitterfollowers  16 non-null     float64
 25  _source.twitterfollowing  16 non-null     float64
 26  _source.twitterposts      16 non-null     float64
 27  _source.buzzresultid      16 non-null     object
 28  _source.username          12 non-null     object
 29  _source.displayname       12 non-null     object
 30  _source.profileurl        12 non-null     object
 31  _source.picturefolder     0 non-null      object
 32  _source.picturecount      0 non-null      object
 33  _source.hyperlink         300 non-null    object
 34  _source.mediaoutletlogo   179 non-null    object
 35  _source.mediatypeid       300 non-null    int64
 36  _source.companyname       300 non-null    object
 37  _source.deliverysetname   300 non-null    object
 38  _source.briefname         300 non-null    object
 39  _source.prospectkeyword   298 non-null    object
 40  _source.@version          300 non-null    object
 41  _source.@timestamp        300 non-null    object
dtypes: float64(4), int64(5), object(33)
memory usage: 98.6+ KB

In [89]:
df2.columns = df2.columns.str.lstrip("_source.")

In [90]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 42 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             300 non-null    object
 1   typ               300 non-null    object
 2   id                300 non-null    object
 3                     300 non-null    int64
 4   mediaitemid       300 non-null    int64
 5   mmaryid           300 non-null    object
 6   programid         300 non-null    int64
 7   mmentatorid       300 non-null    int64
 8   headlin           300 non-null    object
 9   datecreated       300 non-null    object
 10  airdat            300 non-null    object
 11  archabletext      300 non-null    object
 12  abstract          300 non-null    object
 13  fulltext          158 non-null    object
 14  programnam        300 non-null    object
 15  nam               300 non-null    object
 16  mediatyp          300 non-null    object
 17  mmentat           300 non-null    object
 18  articletyp        284 non-null    object
 19  ystem             300 non-null    object
 20  tat               300 non-null    object
 21  ntry              300 non-null    object
 22  ntitynam          186 non-null    object
 23  ialuserid         12 non-null     float64
 24  twitterfollow     16 non-null     float64
 25  twitterfollowing  16 non-null     float64
 26  twitterpost       16 non-null     float64
 27  buzzresultid      16 non-null     object
 28  nam               12 non-null     object
 29  displaynam        12 non-null     object
 30  profileurl        12 non-null     object
 31  picturefold       0 non-null      object
 32  picturecount      0 non-null      object
 33  hyperlink         300 non-null    object
 34  mediaoutletlog    179 non-null    object
 35  mediatypeid       300 non-null    int64
 36  mpanynam          300 non-null    object
 37  deliverysetnam    300 non-null    object
 38  briefnam          300 non-null    object
 39  prospectkeyword   298 non-null    object
 40  @version          300 non-null    object
 41  @timestamp        300 non-null    object
dtypes: float64(4), int64(5), object(33)
memory usage: 98.6+ KB

1. Rename columns - remove source in front it kills me
2. Data clean - why I am going to remove some columns - too many nulls, no way to interpolate
3. Change column types - for dates
4. Determine category columns
5. Possible clusters linked to the number of media types where the texts come from and or article type

In [85]:
df2['_source.articletype'].unique()

array(['News Item', None, 'Internet Item', 'Letter'], dtype=object)